.buttons-likes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .buttons-likes button {
  background-color: transparent;
  outline: none;
  border: none;
} */

/* .like path,
.dislike path,
.btn-delete path {
  fill: #f1f1f1;
} */

.card-container {
  width: 350px;
  background: rgb(50, 55, 50);
  box-shadow: 0 1.5rem 2.5rem rgb(0 0 0 / 50%);
  border-radius: 20px;
}

.card-movie {
  width: 350px;
}

.card-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.movie-title {
  color: #f1f1f1;
}

.card-container:hover,
.movie-title:hover {
  background: #333;
}

.card-comment {
  background-color: #4682b4;
  color: #000;
}

.critique {
  margin-bottom: -1rem;
}

.comments {
  font-size: small;
  padding: 10px;
}

.author {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  margin-top: -2rem;
}
