.btn-list {
  display: grid;
}

.btn-like {
  background-color: green;
}

.btn-dislike {
  background-color: red;
}

.card-container {
  width: 350px;
  height: 650px;
  background: rgb(50, 55, 50);
  margin-bottom: 20px;
}

.card-movie {
  width: 350px;
}

.card-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.movie-title {
  color: #f1f1f1;
}

.card-container:hover, .movie-title:hover {
  background: #333;
  color: #000;
}
